*{ 
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline:none}
a:focus,a:active{outline:none}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

body{
width: 100%;
height: 100%;
min-height: 1800px;
min-width: 1440pxw;
background-color: #e8e8e8;
}

.block{
	width: 1190px;
	height: 1064px;
	opacity: 0.24;
	margin: 0px 108px 0px 300px;
	position: fixed;
	z-index: -1;
}
.mini{
	opacity: 0.6;
font-family: Arial;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #273d46;
margin: 168px 502px 3px 871px;
}
.maxi{
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
	height: 100px;
	width: 723px;
	text-align: center;
	margin: 0px 172px 0px 547px;
}
.pic{
	width: 821px;
	height: 541px;
	border: 10px solid #fff;
	box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
	margin: 77px 110px 0px 489px;
}
.midi{
	opacity: 0.8;
font-family: 'Times New Roman';
font-size: 24px;
line-height: 40px;
font-weight: 400;
color: #273d46;
text-align: left;
margin: 81px 170px 0px 534px;
width: 738px;
}
.midi p:nth-child(2){
	margin-top: 37px;
}
.list{
	margin-top: 48px;
	margin-left: 490px;
}
.item:first-child{
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-decoration: line-through;
	color: #273d46;
}
.item:nth-child(2){
	font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 700;
color: #273d46;
}
.item:nth-child(3){
	font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
font-style: italic;
color: #273d46;
}
.item:last-child{
	font-family: Arial;
font-size: 20px;
line-height: 36px;
font-weight: 400;
text-transform: uppercase;
color: #273d46;
}
li:before{
	content: url(../img/check_icon_40.png);
	padding: 10px;
}
.item:hover{
	color: #d55a5a;
}
.item:hover:before{
	content: url(../img/check_icon_95.png);
}
.butt{
	font-family: Arial;
font-size: 14px;
line-height: 40px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #ffffff;
margin: 137px 0px 0px 515px;
}
button {
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	border-radius: 21px;
	background-color: rgba(128,183,179,1);
}
span:after {
	content: '   \2192';
}
.butt:hover{
	background-color: #3a5856;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
}
.butt:active{
	background-color: #818181;
}
input{
	width: 294px;
height: 52px;
border: 1px solid #b0b0b0;
margin: 124px 0px 0px 490px
}
input:focus{
	border: 1px solid #7fbed5;
	box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}